#form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #564c4c;
}

.boardgame-create-form-title {
  text-align: center;
}

.boardgame-create-form {
  background: #514545;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgba(255, 255, 255, 0.87);
}

.input-control-create {
  display: flex;
  flex-direction: column;
}

.input-control-create label {
  font-weight: 600;
  margin-bottom: 6px;
  color: rgba(255, 255, 255, 0.87);
}

.input-control-create input,
.input-control-create textarea,
.input-control-create select {
  padding: 8px 10px;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
  background-color: #a3a3a3;
  color: rgb(0, 0, 0);
}

.input-control-create input::placeholder,
.input-control-create textarea::placeholder {
  color: #888;
}

.input-control-create input:focus,
.input-control-create textarea:focus,
.input-control-create select:focus {
  outline: none;
  box-shadow: 0 0 5px #610000;
  color: #000000;
}

.error-message-create {
  color: rgb(251, 61, 61);
  font-size: 0.8rem;
  margin-top: 4px;
}
