.single-boardgame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.single-boardgame {
    display: flex;
    flex-direction: column;
    border: 2px solid #00000034;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    padding: 1rem
}

.boardgame-image {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 1rem;
}

.instruction-content, .description-content, .single-content {
    display: flex;
    flex-direction: column;
}

.single-min-max-players,
.single-type-genre {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.single-control {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.single-like, .results{
    padding-bottom: 1rem;
}

.content-type {
    font-style: italic;
}

.edit-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7f7f7fb6;
  cursor: pointer;
  transition: border-color 0.25s;
}
.edit-button:hover {
  background-color: #610000;
}
.edit-button:focus,
.edit-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}