.single-boardgame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.single-boardgame {
    display: flex;
    flex-direction: column;
    border: 2px solid #5e555558;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    transition: transform 0.2s ease;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    padding: 1rem
}

.boardgame-image {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 1rem;
}

.single-boardgame-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.single-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.single-min-max-players,
.single-type-genre {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.single-control {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.owner, .single-like, .results{
    padding-bottom: 1rem;
}