.profile-title {
    text-align: center;
}

.profile-games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem
}

.profile-results {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}